---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Normalizar y resetear estilos
@import "_normalize.scss";

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
// Normalizar y resetear estilos

// Las variables
$base-font-family: "Noto Sans", Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$head-font-family: "Secular One", sans-serif;
$h1-font-size:   20px;

$text-color:       #111;
$background-color: #fdfdfd;

$brand1-color:      #7ACAC7;
$brand2-color:      #CA7ABA;
$brand3-color:      #07EFE6;
$brand4-color:      #BC9F18;
$brand5-color:      #A2880D;
// Las variables

// http://purecss.io/forms/
@import "_forms.min.scss";
// http://purecss.io/forms/

h1, h2, h3, h4, h5 {
	font-family: $head-font-family;
}

.contenedor {
	max-width: 1280px;
	margin: 0 auto;
}
.contenedor:after {
	content: "";
	display: table;
	clear: both;
}

.centradito {
	text-align: center;

	.pure-form-stacked input {
		margin: 0.25em auto;
	}
}

//HEADER
.cinta_azul {
	background-color: $brand1-color;
	background-image: url(../img/sillas.svg);
	background-size: 233px 60px;
	background-position: center;
	height: 60px;
}
.site-title {
	text-align: center;
	text-decoration: none;
	color: #737373;

	img {
		display: block;
		margin: 2.5em auto 0 auto;
		max-width: 14em;
	}
	h1 {
		margin-top: 0.1em;
		margin-bottom: 1.7em;
		font-size: 1.23em;
		font-weight: 300;
	}
}
//HEADER

.columns {
	float: right;
	padding: 5px;
	
	figure {
		margin: 0;
		position: relative;
	}
	img {
		width: 100%;
		display: block;
	}
	h2 {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 1em 1.2em;
		width: 100%;
		background: rgba(43,43,43,0.4);
		color: #fff;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
	}
}
.sillas {
	padding-right: 0;
	@media screen and (max-width: 980px) {
		padding-right: 5px;
	}
}
.gd, .md {
	width: 50%;
	@media screen and (max-width: 980px) {
		width: 50%;
	}
	@media screen and (max-width: 490px) {
		width: 100%;
	}
}
.ch {
	width: 25%;
	@media screen and (max-width: 980px) {
		width: 50%;
	}
	@media screen and (max-width: 490px) {
		width: 100%;
	}
}

.frase {
	text-align: center;
	margin: 2.8em auto 2.8em auto;
	font-size: 1.5em;
	color: #737373;
	width: 100%;
	max-width: 768px;
}

.mitad {
	width: 50%;
	padding: 0 2% 0 2%;
	
	@media screen and (max-width: 1120px) {
		padding: 0 5px 0 5px;
	}
	@media screen and (max-width: 980px) {
		width: 100%;
		padding: 0 5% 0 5%;
	}
	@media screen and (max-width: 600px) {
		padding: 0;
	}
}
	
.telefonos {
	@media screen and (max-width: 980px) {
		margin-bottom: 5%;
	}
	div {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		padding: 0.5em 2.2em;
		width: 35%;
		background: rgba(43,43,43,0.4);
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		
		@media screen and (max-width: 1120px) {
			padding: 0 2.2em;
			width: 50%;
		}
		@media screen and (max-width: 980px) {
			padding: 0.5em 2.2em;
			width: 25%;
		}
		@media screen and (max-width: 810px) {
			padding: 0 2.2em;
			width: 40%;
		}
		@media screen and (max-width: 490px) {
			padding: 0 2.2em;
			width: 50%;
		}
	}
	
	h3 {
		margin-bottom: 0.1em;
	}
	a {
		display: block;
		color: #ffffff;
		text-decoration: none;
	}
}
.cotizar {
	h2 {
		position: absolute;
		right: 0;
		top: 0;
		bottom: initial;
		margin: 0;
		padding: 1em 1.2em;
		width: 100%;
		background: rgba(43,43,43,0.4);
		color: #fff;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
	}
}

footer {
	width: 100%;
	padding: 1.5em 0 1.5em 0;
	margin-top: 3em;
	background-color: #5c5c5c;
	color: #fff;
	
	:after {
		content: "";
		display: table;
		clear: both;
	}
	
	p {
		text-align: center;
		margin: 0;
	}
}

////////////////////////////////////////////////////
.modal {
    align-items: center;
    bottom: 0;
    display: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}
.modal.active {
    display: flex;
    display: -ms-flexbox;
    opacity: 1;
    z-index: 1988;
}
.modal.active .modal-overlay {
    background: rgba(0,0,0,.75);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
@media screen and (min-width: 320px) {
.modal-sm .modal-container {
    width: 32rem;
}}
@media screen and (min-width: 640px) {
.modal-container {
    width: 64rem;
}}
.modal-container {
    animation: slide-up .216s;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    z-index: 1988;
    background: #fff;
    display: block;
    border-radius: .3rem;
    box-shadow: 0 .1rem .4rem rgba(0,0,0,.3);
}
.modal.active .modal-container {
    animation: slide-down .216s;
}
.modal-container .modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
}
.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn.btn-primary {
    border: 2px solid #666;
    color: #333;
    height: 2rem;
}
.btn.btn-clear {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #666;
    height: 2rem;
    margin-left: 0.3rem;
    opacity: 0.45;
    padding: 0;
}
.btn.btn-clear::before {
    content: "×";
    font-size: 2rem;
}
.float-right {
    float: right!important;
}
@media screen and (max-width: 64em) and (min-width: 42em) {
.btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
}}
.modal-container .modal-header .modal-title {
    font-size: 1.5rem;
    margin: 0;
}
.modal-container .modal-body {
    max-height: 50vh;
    overflow-y: auto;
    padding: 1.5rem;
    position: relative;
}