---
layout: default
---

<script type='application/ld+json'>
  {
    "@context": "http://schema.org",
    "@type":"LocalBusiness",
    "name": "{{ site.title }}",
    "description": "{{ site.description }}",
    "url":"{{ site.url }}",
    "logo": "{{ '/img/logo.jpg' | prepend: site.url }}",
    "email": "mailto:{{ site.email }}",
    "telephone": "331 3504 003",
    "telephone": "333 8157 303",
    "telephone": "331 6708 382",
    "telephone": "331 6705 224",
    "openingHours": "Mo-Fr 9:00-18:00",
    "openingHours": "Sa 9:00-13:00",
    "areaServed": {
        "@type": "GeoCircle",
        "geoMidpoint": {
        "@type": "GeoCoordinates",
            "latitude": "20.666111",
            "longitude": "-103.351944"
        },
        "geoRadius": "16500"
	},
    "sameAs": [
    	"{{ site.facebook }}",
    	"{{ site.googlePlus }}"
    ]
  }
</script>

<div class="contenedor">
		{% assign paginas = site.html_pages | sort: 'orden' %}
		{% for p in paginas %}
			{% if p.title %}{% if p.cuadros == 1 %}
				<div class="columns {{ p.size }} {{ p.title | downcase }}">
					<figure>
					{% if p.link == 1 %}
						<a href="{{ p.url }}">
							<picture>
								<source 
									media="(min-width: 980px)"
									srcset="{{ p.image_gd }}">
								<source 
									media="(min-width: 490px)"
									srcset="{{ p.image_md }}">
								<img 
									src="{{ p.image_ch }}" 
									alt="{{ p.title }}">
							</picture>
							<h2>{{ p.title }}</h2>
						</a>
					{% else %}
						<picture>
							<source 
								media="(min-width: 980px)"
								srcset="{{ p.image_gd }}">
							<source 
								media="(min-width: 490px)"
								srcset="{{ p.image_md }}">
							<img 
								src="{{ p.image_ch }}" 
								alt="{{ p.title }}">
						</picture>
						<h2>{{ p.title }}</h2>
					{% endif %}
					</figure>
				</div>
			{% endif %}{% endif %}
		{% endfor %}
</div>
<div class="contenedor">
	<p class="frase">Renta de sillas Tiffany, mesas, manteles, cristaleria y vajilla para tus eventos. Cotiza sin compromiso y pregunta por nuestras promociones.</p>
</div>
<div class="contenedor">
	<div class="columns mitad telefonos">
		<figure>
			<picture>
				<source 
					media="(min-width: 980px)"
					srcset="/img/llamar/llamar_gd.jpg">
				<source 
					media="(min-width: 490px)"
					srcset="/img/llamar/llamar_md.jpg">
				<img 
					src="/img/llamar/llamar_ch.jpg" 
					alt="Contacto sillas Tiffany">
			</picture>
			<div>
				<h3>Ana María</h3>
				<a href="tel:+523338157303">33 38 15 73 03</a>
				<a href="tel:+523316708382">33 16 70 83 82</a>
				<h3>Mauricio</h3>
				<a href="tel:+523313504003">33 13 50 40 03</a>
				<h3>José</h3>
				<a href="tel:+523316705224">33 16 70 52 24</a>
			</div>
		</figure>
	</div>
	<div class="columns mitad cotizar">
		<figure>
			<a href="/cotizar/">
				<picture>
					<source 
						media="(min-width: 980px)"
						srcset="/img/cotizar/cotizar_gd.jpg">
					<source 
						media="(min-width: 490px)"
						srcset="/img/cotizar/cotizar_md.jpg">
					<img 
						src="/img/cotizar/cotizar_ch.jpg" 
						alt="Precios sillas Tiffany">
				</picture>
				<h2>Pide tu cotización</h2>
			</a>
		</figure>
	</div>
</div>